<div id="edit-workout">
    <div class="page-header">
        <h3 class="">
            Edit workout
        </h3>
    </div>

    <div class="workout-info">
        <p class="bg-info">Started: {{ vm.workout.started | date: "short" }}</p>
        <p class="bg-info">Groups: {{ vm.formatGroups() }}</p>
        <p class="bg-info">Notes: {{ vm.workout.notes }}</p>
        <p class="bg-info">Location: {{ vm.workout.location }}</p>
    </div>

    <button class="btn btn-primary btn-md" ng-click="vm.addExercise()">Add exercise</button>

    <div class="exercises panel panel-default" ng-if="vm.workout.exercises.length > 0">
        <div class="panel-heading">Exercises</div>
        <div class="panel-body">

            <uib-tabset vertical="true" type="pills">
                <uib-tab ng-repeat="exercise in vm.workout.exercises" heading1="{{ exercise.name }}" select="vm.selectExercise()">
                    <uib-tab-heading>
                        {{ exercise.name }}

                        <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.removeExercise(exercise)"></span>
                    </uib-tab-heading>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Group</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ vm.getMuscleGroupById(exercise.groupId).name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Started</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ exercise.started | date: "short" }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ended</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ exercise.ended | date: "short" }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-10">
                                <textarea rows="3" class="form-control input-md" ng-model="exercise.notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sets</label>
                            <div class="col-sm-10 form-inline">
                                <div class="col-xs-10" fa-slider fa-slider-model="vm.newSet.reps"></div>

                                <div class="col-xs-2">
                                    <input type="number" class="form-control reps-text-box" ng-model="vm.newSet.reps" />
                                </div>

                                <div>
                                    <input type="number" class="form-control form-inline" placeholder="Enter weight" ng-model="vm.newSet.weight" />

                                    <button class="btn btn-primary" ng-click="vm.addNewSet(exercise)">Add set</button>
                                </div>

                                <table class="table table-condensed table-hover" ng-if="exercise.sets.length > 0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Reps</th>
                                            <th>Weight</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="set in exercise.sets">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ set.reps }}</td>
                                            <td>{{ set.weight }}</td>
                                            <td class="remove-set-cell text-center">
                                                <span class="glyphicon glyphicon-remove"
                                                      ng-click="vm.removeSet(exercise, set)">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>

    <div class="form-group text-right">
        <button class="btn btn-primary btn-lg" ng-click="vm.endWorkout()">End workout</button>
        <button class="btn btn-primary btn-lg" ng-click="vm.removeWorkout()">Remove</button>
    </div>
</div>
