<div id="edit-workout">
    <div class="page-header">
        <h3 class="">
            Edit workout
        </h3>
    </div>

    <div class="session-info">
        <p class="bg-info">Started: {{ vm.workout.startDate | date: "short" }}</p>
        <p class="bg-info">Groups: {{ vm.formatGroups() }}</p>
        <p class="bg-info">Notes: {{ vm.workout.notes }}</p>
        <p class="bg-info">Location: {{ vm.workout.location }}</p>
    </div>

    <button class="btn btn-primary btn-md" ng-click="vm.addExercise()">Add exercise</button>

    <div class="panel panel-default" ng-if="vm.workout.exercises.length > 0">
        <div class="panel-heading">Exercises</div>
        <div class="panel-body">

            <uib-tabset vertical="true" type="pills">
                <uib-tab ng-repeat="exercise in vm.workout.exercises" heading="{{ exercise.name }}">
                    Content...
                </uib-tab>
            </uib-tabset>

        </div>
    </div>

    <div class="form-group text-right">
        <button class="btn btn-primary btn-lg" ng-click="vm.removeWorkout()">Remove</button>
    </div>
</div>


