<div id="edit-workout">
    <div class="page-header">
        <h3 class="">
            Edit workout
        </h3>
    </div>

    <div class="session-info">
        <p class="bg-info">Started: {{ vm.workout.started | date: "short" }}</p>
        <p class="bg-info">Groups: {{ vm.formatGroups() }}</p>
        <p class="bg-info">Notes: {{ vm.workout.notes }}</p>
        <p class="bg-info">Location: {{ vm.workout.location }}</p>
    </div>

    <button class="btn btn-primary btn-md" ng-click="vm.addExercise()">Add exercise</button>

    <div class="panel panel-default" ng-if="vm.workout.exercises.length > 0">
        <div class="panel-heading">Exercises</div>
        <div class="panel-body">

            <uib-tabset vertical="true" type="pills">
                <uib-tab ng-repeat="exercise in vm.workout.exercises" heading="{{ exercise.name }}" select="vm.selectExercise()">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Group</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ vm.getMuscleGroupById(exercise.groupId).name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Started</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ exercise.started | date: "short" }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ended</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ exercise.ended | date: "short" }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-10">
                                <textarea rows="3" class="form-control input-md" ng-model="exercise.notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sets</label>
                            <div class="col-sm-10 form-inline">
                                <div class="btn-group" uib-dropdown>
                                    <button id="split-button" type="button" class="btn btn-default">{{ vm.newSet.nrRepetition || "Select repetition" }}</button>
                                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li role="menuitem" ng-repeat="nrRepetition in vm.nrRepetitions">
                                            <a ng-click="vm.newSet.nrRepetition = nrRepetition">
                                                {{ nrRepetition }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-inline" id="slider"></div>

                                <input type="number" class="form-control form-inline" placeholder="Enter weight" ng-model="vm.newSet.weight" />

                                <button class="btn btn-primary" ng-click="vm.addNewSet(exercise)">Add set</button>

                                <table class="table table-condensed" ng-if="exercise.sets.length > 0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Reps</th>
                                            <th>Weight</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="set in exercise.sets">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ set.nrRepetition }}</td>
                                            <td>{{ set.weight }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>

    <div class="form-group text-right">
        <button class="btn btn-primary btn-lg" ng-click="vm.removeWorkout()">Remove</button>
    </div>
</div>

<script>
    setTimeout(function () {
    $("#slider").slider({
        min: 0, 
        max: 50,
        //slide: function(event, ui){
        //    var value;
        //    if(ui.value == -1)
        //    {
        //        value = "--";
        //    }
        //    else
        //    {
        //        value = ui.value;
        //    }

        //    $(this).find("input.slider-value").val(value);
        //},
    });
    }, 1000);
</script>


