<div id="edit-session">
    <div class="page-header">
        <h3 class="">
            Edit session
        </h3>
    </div>

    <div class="session-info">
        <p class="bg-info">Started: {{ vm.session.startDate | date: "short" }}</p>
        <p class="bg-info">Groups: {{ vm.formatGroups() }}</p>
        <p class="bg-info">Notes: {{ vm.session.notes }}</p>
        <p class="bg-info">Location: {{ vm.session.location }}</p>
    </div>

    <button class="btn btn-primary btn-md" ng-click="vm.addExercise()">Add exercise</button>

    <div class="form-group text-right">
        <button class="btn btn-primary btn-lg" ng-click="vm.removeSession()">Remove</button>
    </div>
</div>

<script type="text/ng-template" id="start-exercise">
    <div id="start-exercise" class="container-fluid">
        <div class="page-header">
            <h4 class="">
                Add exercise
            </h4>
        </div>

        <div class="form-group" ng-class="{ 'has-error': false }">
            <label>Group</label>

            <div class="btn-group" uib-dropdown>
                <button id="split-button" type="button" class="btn btn-default" ng-bind="vm.getMuscleGroupById(vm.newExercise.groupId).name">
                </button>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem" ng-repeat="groupId in vm.session.selectedGroups">
                        <a ng-click="vm.newExercise.groupId = groupId">
                            {{ vm.getMuscleGroupById(groupId).name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': false }">
            <label>Name</label>
            <input type="text" class="form-control input-md" ng-model="vm.newExercise.name">
        </div>

        <div class="form-group">
            <label>Start time</label>

            <div class="start-time">
                <div class="pull-left">
                    <uib-timepicker ng-model="vm.newExercise.startTime"></uib-timepicker>
                </div>

                <button type="button"
                        class="btn btn-default btn-md pull-right"
                        ng-click="vm.resetStartTime()">
                    Now
                </button>
            </div>
        </div>

        <div class="form-group">
            <label>Notes</label>
            <textarea rows="3" class="form-control input-lg" ng-model="vm.newExercise.notes"></textarea>
        </div>

        <div class="form-group text-right">
            <button class="btn btn-primary btn-md" ng-click="vm.startExercise()">Start</button>
            <button class="btn btn-primary btn-md" ng-click="vm.cancelStartExercise()">Cancel</button>
        </div>
    </div>
</script>
