<div id="home">
    {{ vm.message }}

    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <a href="#/newworkout" class="btn btn-primary btn-lg btn-block" ng-if="!vm.activeWorkout._id">
                <div>
                    New workout
                </div>
            </a>
            <a href="#/editworkout" class="btn btn-success btn-lg btn-block" ng-if="!!vm.activeWorkout._id">
                <div>
                    Edit workout
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#/" class="btn btn-primary btn-lg btn-block">
                <div>
                    Last workout
                </div>
            </a>
        </div>
    </div>
    <div class="separator">

    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <a href="#" class="btn btn-primary btn-lg btn-block">
                <div>
                    History
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#/user/profile" class="btn btn-primary btn-lg btn-block">
                <div>
                    Profile
                </div>
            </a>
        </div>
    </div>
</div>