
<div id="fa-dashboards">
    <button class="fa-create-btn btn btn-primary btn-md" ng-click="initCreate()">Create dashboard</button>

    <div class="fa-dashboard panel panel-default" ng-repeat="dashboard in dashboards">
        <div class="panel-heading">
            {{ dashboard.title }} 
            
            <span class="activate-btn glyphicon {{ isShared(dashboard) ? 'glyphicon-star' : 'glyphicon-star-empty' }}">
            </span>

            <div class="fa-remove-dashboard glyphicon glyphicon-remove" ng-click="removeDashboard(dashboard)"></div>
        </div>

        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        {{ dashboard.description }}
                    </div>

                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-sm pull-right" ng-click="initAddSession(dashboard)">Add new session</button>
                    </div>
                </div>
            </div>

            <div class="fa-foot-note">
                Created {{ dashboard.created | date: 'longDate' }}
            </div>
        </div>
    </div>

    <div ng-include="'/public/partials/add-session.html'"></div>
</div>

<script type="text/ng-template" id="create-dashboard.html">
    <div class="modal-header">
        <h3 class="modal-title">Create dashboard</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': false }">
            <label>Title</label>
            <input type="text" class="form-control input-lg" ng-model="newDashboard.title">
        </div>

        <div class="form-group" ng-class="{ 'has-error': false }">
            <label>Description</label>
            <input type="text" class="form-control input-lg" ng-model="newDashboard.description">
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button class="btn btn-primary btn-lg" ng-click="create()">Create</button>
            <button class="btn btn-primary btn-lg" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>