<div class="fa-login-form well">
    <div class="form-group" ng-class="{ 'has-error': errors.isUsernameEmpty() && !!errors.message }">
        <input type="text" class="form-control input-lg" placeholder="Username" ng-model="credentials.username">
    </div>

    <div class="form-group" ng-class="{ 'has-error': errors.isPasswordEmpty() && !!errors.message }">
        <input type="text" class="form-control input-lg" placeholder="Password" ng-model="credentials.password">
    </div>

    <div class="alert alert-danger" role="alert" ng-show="!!errors.message">{{ errors.message }}</div>

    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>

    <div class="form-group">
        <button type="button" class="fa-login-btn btn btn-primary btn-lg" ng-click="logIn()">Sign in</button>
    </div>

    <div class="form-group">
        <button type="button" class="fa-login-btn btn btn-primary btn-lg" ng-click="register()">Register</button>
    </div>

    <div class="form-group">
        <a class="btn btn-block btn-social btn-lg btn-facebook">
            <i class="fa fa-facebook"></i>
            Sign in with Facebook
        </a>
    </div>
</div>

