<nav id="fa-navbar" class="navbar navbar-default" ng-controller="faNavigationCtrl" ng-class="{ 'disabled': !isUserLoggedIn() }">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ng-class="{ 'active': isActive('/home') }">
                <a href="#/home">
                    Home
                </a>
            </li>
            <li ng-class="{ 'active': isActive('/dashboards') }">
                <a href="#/dashboards" >
                    Dashboards
                </a>
            </li>
            <li ng-class="{ 'active': isActive('/sessions') }">
                <a href="#/sessions">
                    Sessions
                </a>
            </li>
        </ul>

        <button type="button" class="btn btn-default navbar-btn navbar-right logout-btn" ng-click="logout()">Sign out</button>

        <p class="navbar-text navbar-right" ng-if="isUserLoggedIn()" style="margin-right:20px;">
            {{ user().username }} @ {{ activeDashboard().title }}
        </p>
    </div>
</nav>
