<div class="profile-form well">
    <div class="form-group">
        <label>Current password</label>
        <input type="password" class="form-control input-lg" ng-model="updatedUser.currentPassword">
    </div>

    <div class="form-group">
        <label>New password</label>
        <input type="password" class="form-control input-lg" ng-model="updatedUser.newPassword">
    </div>

    <div class="form-group">
        <label>Confirm password</label>
        <input type="password" class="form-control input-lg" ng-model="updatedUser.newConfirmedPassword">
    </div>

    <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control input-lg" ng-model="updatedUser.firstname">
    </div>

    <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control input-lg" ng-model="updatedUser.lastname">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control input-lg" ng-model="updatedUser.email">
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-lg" ng-click="save()">Save</button>
        <button class="btn btn-primary btn-lg" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-lg" ng-click="unregister()">Unregister</button>
    </div>

    <div class="alert alert-danger" role="alert" ng-show="!!errorMessage">{{ errorMessage }}</div>
</div>

<script type="text/ng-template" id="unregister-result.html">
    <div class="modal-body">
        <div class="alert alert-success" role="alert">You have been unregistered from the application.</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-lg" ng-click="closeModal()">OK</button>
    </div>
</script>
