<div class="register-form well">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control input-lg" ng-model="user.username">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control input-lg" ng-model="user.password">
    </div>

    <div class="form-group">
        <label>Confirm password</label>
        <input type="text" class="form-control input-lg" ng-model="user.confirmedPassword">
    </div>

    <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control input-lg" ng-model="user.firstname">
    </div>

    <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control input-lg" ng-model="user.lastname">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control input-lg" ng-model="user.emailAddress">
    </div>

    <div class="form-group">
        <label>Gender</label>

        <div class="radio">
            <label>
                <input type="radio" ng-model="user.gender" ng-value="genders.male">
                Male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="user.gender" ng-value="genders.female">
                Female
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>Birthdate</label>

        <input type="date" ng-model="user.birthdate" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-lg" ng-click="register()">Register</button>
        <button class="btn btn-primary btn-lg" ng-click="cancel()">Cancel</button>
    </div>

    <div class="alert alert-danger" role="alert" ng-show="!!errorMessage">{{ errorMessage }}</div>
</div>

