<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div ng-view></div>

    <script src="/public/js/lib/angular/angular.js"></script>
    <script src="/public/js/lib/angular-route/angular-route.js"></script>
    <script src="/public/js/lib/jquery/dist/jquery.js"></script> 
    <script src="/public/js/app/controllers/faLoginCtrl.js"></script>
    <script src="/public/js/app/controllers/faHomeCtrl.js"></script>
    <script src="/public/js/app/services/faCommonSvc.js"></script>
    <script src="/public/js/app/faMain.js"></script>
</body>
</html>