<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="/public/lib/components-font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/public/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/public/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="/public/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div ng-view class="placeholder"></div>
    </div>

    <script src="/public/lib/requirejs/require.js" data-main="/public/js/main.js"></script>
</body>
</html>