<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="/public/lib/jasmine-core/lib/jasmine-core/jasmine.css" rel="stylesheet" />
</head>  
<body>   
    <div class="container">
        <div ng-view></div>
    </div>

    <script src="/public/lib/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="/public/lib/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>     
    <script src="/public/lib/requirejs/require.js" data-main="/public/js/app/tests/specrunner.js"></script>
</body>
</html>