body {
    font-family: Verdana;

    .container {
        margin-top: 20px;

        #fa-navbar {
            .logout-btn {
                margin-right: -5px;
            }

            &.disabled {
                opacity: 0.4;

                * {
                    cursor: default;
                }
            }
        }

        #fa-placeholder {
            #fa-login {
                max-width: 400px;
                margin: 0 auto;

                .fa-login-btn {
                    width: 100%;
                }
            }

            #fa-dashboards {
                .fa-create-btn {
                    margin-bottom: 20px;
                }

                .fa-dashboard {
                    .activate-btn {
                        cursor: pointer;
                    }

                    .fa-remove-dashboard {
                        float: right;
                        cursor: pointer;        
                    }

                    .fa-foot-note {
                        text-align: right;
                        font-size: smaller;
                    }

                    &:before { 
                        content: "";
                    }
                }
            }

            #fa-sessions {

            }
        }
    }
}
